{% extends 'base.html' %}
{% block title %}Products List{% endblock %}
{% block content %}
<h2>Products List</h2>
<a href="{% url 'product_new' %}" class="btn btn-primary">Add New Product</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
             <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>${{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50">
                {% else %}
                <span class="text-muted">No image</span>
                {% endif %}
            </td>
            <td>
                <button><a href="{% url 'product_update' product.id %}" class="btn btn-sm btn-danger">Edit</a></button>
               <form action="{% url 'product_delete' product.id %}" method="post" style="display:inline;">
                   {% csrf_token %}
                   <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}